html,
body {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

#app {
  width: 100%;
  overflow-x: hidden;
}
.main {
  height: 800px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}


.menu-nav a {
  margin-right: 10px;
}
